Screenshots and WSDL/TestMartCatalogService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.testmart.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.testmart.com" name="TestMartCatalogService">
<types>
<xsd:schema>
<xsd:import namespace="http://www.testmart.com" schemaLocation="http://ab:8080/testmart/TestMartCatalogService?xsd=1"/>
</xsd:schema>
</types>
<message name="getProducts">
<part name="parameters" element="tns:getProducts"/>
</message>
<message name="getProductsResponse">
<part name="parameters" element="tns:getProductsResponse"/>
</message>
<message name="addProducts">
<part name="parameters" element="tns:addProducts"/>
</message>
<message name="addProductsResponse">
<part name="parameters" element="tns:addProductsResponse"/>
</message>
<message name="removeProducts">
<part name="parameters" element="tns:removeProducts"/>
</message>
<message name="removeProductsResponse">
<part name="parameters" element="tns:removeProductsResponse"/>
</message>
<message name="getProductsv2">
<part name="parameters" element="tns:getProductsv2"/>
</message>
<message name="getProductsv2Response">
<part name="parameters" element="tns:getProductsv2Response"/>
</message>
<portType name="TestMartCatalog">
<operation name="getProducts">
<input wsam:Action="http://www.testmart.com/TestMartCatalog/getProductsRequest" message="tns:getProducts"/>
<output wsam:Action="http://www.testmart.com/TestMartCatalog/getProductsResponse" message="tns:getProductsResponse"/>
</operation>
<operation name="addProducts">
<input wsam:Action="http://www.testmart.com/TestMartCatalog/addProductsRequest" message="tns:addProducts"/>
<output wsam:Action="http://www.testmart.com/TestMartCatalog/addProductsResponse" message="tns:addProductsResponse"/>
</operation>
<operation name="removeProducts">
<input wsam:Action="http://www.testmart.com/TestMartCatalog/removeProductsRequest" message="tns:removeProducts"/>
<output wsam:Action="http://www.testmart.com/TestMartCatalog/removeProductsResponse" message="tns:removeProductsResponse"/>
</operation>
<operation name="getProductsv2">
<input wsam:Action="http://www.testmart.com/TestMartCatalog/getProductsv2Request" message="tns:getProductsv2"/>
<output wsam:Action="http://www.testmart.com/TestMartCatalog/getProductsv2Response" message="tns:getProductsv2Response"/>
</operation>
</portType>
<binding name="TestMartCatalogPortBinding" type="tns:TestMartCatalog">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getProductsv2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TestMartCatalogService">
<port name="TestMartCatalogPort" binding="tns:TestMartCatalogPortBinding">
<soap:address location="http://ab:8080/testmart/TestMartCatalogService"/>
</port>
</service>
</definitions>